@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/*font-family: 'Archivo Black', sans-serif;*/

:root {
  --yellow: #fcce23;
  --red: #eb1c24;
  --off-white: #f4f4f4;
  --grey: #616264;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: var(--off-white);
}

.highlight--red {
  color: var(--red);
}
.highlight--yellow {
  color: var(--yellow);
}

.stroke--black {
  -webkit-text-stroke: 3px var(--black);
}
.stroke--red {
  -webkit-text-stroke: 3px var(--red);
}
.stroke--yellow {
  -webkit-text-stroke: 3px var(--yellow);
}
.stroke--off-white {
  -webkit-text-stroke: 3px var(--off-white);
}
.stroke--grey {
  -webkit-text-stroke: 3px var(--grey);
}

/* -- REUSABLE CROSS CMP STYLES -- */

.panel--container {
  width: 100%;
}